@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: absolute;
    background-color: rgb(198, 157, 202);
    /*width: 200px;*/
    height:100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 50px;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 20px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: rgb(14, 14, 13);
    }

.main{
    background-color:rgb(235, 226, 235) ;
    width: 350vw;
    height:375vh;
    padding: 33px;
}
.container{
    display : flex;
}
.infoContainer{
   /* background-color: cadetblue;*/
    height: 45vh;
    width: 80vw;
    margin: 135px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    font-size: 16px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.Hello{
    font-size: 2em;
   
}
.Name{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.About{

    font-size: 1.5em;
}
.Moreabout{
    margin-top: 1em;
    font-size:15px ;
    font-family: 'Fira Sans', sans-serif;
}

.buttons{
    margin-top: 1.2em;
    font-size: 13px;
}

.btn{
    padding: 6px 12px;
    border-radius: 18px;
    color: black;
    background-color: lavender;
    font-weight: bold;
    font-size: 1em;
    margin: 6px 6px;
    cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    padding: 5px 15px;
    margin: 12px 0;

}
.btn:hover{
    background-color: black;
    color: lavender;
}
.devPic img{
    width: 34vh;
}
.contactform{
   padding: 0 34px;
   /* padding-top: 50px;*/
    font-family: 'Fira Sans', sans-serif; 
    margin: 70px;
}
.contactform h1{
    font-family: 'Fira Sans', sans-serif; 
   /*padding: 20px 0;*/
   font-weight: 900;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    
}
.contactform form div input{
   /* width: 40vw;*/
    border-radius: 8px;
    margin: 6px 0 0 0 ;
   /* font-size: 20px;*/
  /* margin: 2px 0;*/
    padding: 4px;
}
.contactform form {
   margin: 0 40px;
   
}
#emailHelp{
    font-size: 10px;
    color: darkviolet;
    margin: 0 6px;
    padding: 3px 0 0 0;
}
#form-check{
  flex-direction: row;
}
#form-check input{
     width: 30px;
     margin: 2px 0;
}

.blogItem {
    margin:10px 15px;
    font-family: 'Fira Sans', sans-serif; 
}
.blogContainer{
      margin: 0 88px;
}
.ServiceItem {
    margin: 15px;
    font-family: 'Fira Sans', sans-serif; 
}
.ServiceContainer{
      margin: 80px 50px;
}

h1{
    font-family: 'Fira Sans', sans-serif; 
    margin: 15px;
}

p{
    font-family: 'Source Code Pro', monospace;
}

.Intro{
    margin: 0 88px;
}
.Intro h2{
    font-family: 'Fira Sans', sans-serif; 
    margin : 12px;
}

.Intro p{
    font-family: 'Source Code Pro', monospace;
    margin : 12px;
}

.SkillContainer{
    padding: 12px;
}
.SkillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}
.skill{
    width: 200px;
    height:10px;
    background-color: rgb(131, 94, 164);
    border: 2px solid black;
}

.hundered{
     width:265px;
     background-color: aquamarine;
}
.seventy5{
    width:125px;
    background-color: brown;
}
.t5{
    width:125px;
    background-color: darkkhaki;
}
.sidebarGo{
    transform: translate(-264px, 0px);
    position: absolute;
}

.hamburger{
    position:absolute;
    cursor: pointer;
    top: 10px;
    left: 20px;
}
.ham{
    margin-top: 6px;
    margin-left: 6px;
}
.cross{
    margin-left: 150px;
    margin-top: 6px;
}

@media (max-width: 1215px) {
    
    .buttons{
        font-size: 8px;
    }
    .devInfo{
        font-size: 10px;
    }
    .devPic{
        display: none;
    }
    .Intro, .blogContainer, .contactform{
        margin: 50px 8px;
    }
}
